{% extends "base.html" %}
<!--  -->
{% load static %}
<!--  -->
{% block content %}
<!--  -->
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Testimonials</h2>
            <ol>
                <li><a href=".">Home</a></li>
                <li>Testimonials</li>
            </ol>
        </div>

    </div>
</section>
<!-- End Breadcrumbs -->

<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg">
    <div class="container">

        <div class="row">

            <div class="col-lg-6" data-aos="fade-up">
                <div class="testimonial-item">
                    <img src="{% static '/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                    <h3>Deon Goodman</h3>
                    <h4>Home Owner &amp; Founder</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i> I am extremely happy about {{ copmany}}'s service, they are proffessional, right on time and their products are high quality and durable. I definitely recommend {{ comapny }}
                        to you anytime.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>
            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="testimonial-item mt-4 mt-lg-0">
                    <img src="{% static '/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                    <h3>Sara Wilsson</h3>
                    <h4>Home Owner</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i> {{ company }} provides high quality cleaning services, filtering, pump replacment and more for less. The guys offered me a conditional free quotation, free consultation. The
                        team is very fast and huge. They are well trained for the job and very active.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>
            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <div class="testimonial-item mt-4">
                    <img src="{% static '/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                    <h3>Jena Karlis</h3>
                    <h4>Store Owner</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i> I hired {{ company }} for my store in Pretoria with a pool used by over 20 000 people monthly and they cleaned it pretty well, I will definitely call you again.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>
            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                <div class="testimonial-item mt-4">
                    <img src="{% static '/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                    <h3>Matthew Brandon</h3>
                    <h4>Biz Owner</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i> {{ company }} are very good, they treated my pool with proper chemicals to remove green water. OMG They know how to balance chemicals very well
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>
            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
                <div class="testimonial-item mt-4">
                    <img src="{% static '/img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                    <h3>John Larson</h3>
                    <h4>Entrepreneur</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i> I am business owner who trains people how to swim, our clients are very proffessional and they expect clean pools and {{ company }} just gave me that this month.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>
            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="500">
                <div class="testimonial-item mt-4">
                    <img src="{% static '/img/testimonials/testimonials-6.jpg' %}" class="testimonial-img" alt="">
                    <h3>Emily Harison</h3>
                    <h4>Store Owner</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i> Honestly speaking these guys seem very knowledgeable and skills from the director to the last employee.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Testimonials Section -->

{% endblock content %}